<style>
	*{
		box-sizing: border-box;
	}
	body{
		margin: 0;
	}
	.header{
		background-color: yellow;
		padding: 20px;
		text-align: center;
	}
	.topnav{
		overflow: hidden;
		background-color: violet;
	}
	.topnav a{
		float: left;
		display: block;
		color: green;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	.topnav a:hover{
		background-color: gray;
		color: black;
	}
</style>